@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%);
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#deepscatter {
  position: absolute;
  left: 0;
  top: 0;
}

#container-for-webgl-canvas {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.tooltip {
  width: 400px;
  margin-top: -10px;
}

.tooltip>audio {
  margin-top: 10px;
  width: 100%;
}

#search {
  background: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg') no-repeat center right;
  background-size: 50px 50px;
  width: 56px;
  border: none;
  cursor: pointer;
}

#header {
  padding: 20px 0 50px 0;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100vw;
}

#title {
  font-size: 30px;
  font-weight: 600;
}

#header,
#search-bar {
  position: absolute;
  justify-content: center;
  z-index: 1;
}

#search-bar {
  padding: 0 20px;
  max-width: 90vw;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  bottom: 0;
  height: 60px;
  width: 500px;
  background-color: white;
  display: flex;
}

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  display: none;

  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#query {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  border: none;
  outline: none;
}

a {
  color: white;
}