Want to jump straight in? Get started with one of our sample applications/templates:

| Platform          | Description                      | Source code                   |
|-------------------|----------------------------------|-------------------------------|
| React             | Multilingual translation website | [link](./examples/react-translator/) |
| Browser extension | Text classification extension    | [link](./examples/extension/) |
| Electron          | Text classification application  | [link](./examples/electron/)  |
| Node.js           | Sentiment analysis API           | [link](./examples/node/)      |
| Next.js           | *Coming soon*                    | [link](./examples/next/)      |
