Want to jump straight in? Get started with one of our sample applications/templates:

| Platform          | Description                          | Source code                   |
|-------------------|--------------------------------------|-------------------------------|
| React             | Multilingual translation application | [link](./examples/react-translator/) |
| Browser extension | Text classification extension        | [link](./examples/extension/) |
| Electron          | Text classification application      | [link](./examples/electron/)  |
| Next.js           | *Coming soon*                        | [link](./examples/next/)      |
| Node.js           | *Coming soon*                        | [link](./examples/node/)      |
