:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

h1,
h2 {
  margin: 8px;
}

select {
  padding: 0.3em;
  cursor: pointer;
}

textarea {
  padding: 0.6em;
}

button {
  padding: 0.6em 1.2em;
  cursor: pointer;
  font-weight: 500;
}

button[disabled] {
  cursor: not-allowed;
}

select,
textarea,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #f9f9f9;
  transition: border-color 0.25s;
}

select:hover,
textarea:hover,
button:not([disabled]):hover {
  border-color: #646cff;
}

select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}