.sidebar {
  background-color: #181818;
  color: #CCCCCC;
}

body{
  background-color: #1F1F1F;
  color: white;
}

.progress-container {
  position: relative;
  font-size: 16px;
  color: white;
  /* background-color: #e9ecef; */
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.progress-bar {
  padding: 2px 4px;
  z-index: 0;
  top: 0;
  width: 1%;
  height: 100%;
  overflow: hidden;
  background-color: #007bff;
  white-space: nowrap;
}

.progress-text {
  z-index: 2;
}
